     span{
            margin: 29% 0 29% 0;  
     }
     
     
     input[type=password], input[type=email] {
        width: 100%;
    }


    input[type = sumbit] {
        float : right;
    }

    .text{
        margin-bottom: 20px;
    }

    section{
        display: flex;
        width: 50%;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: .25%;
    }

    body{
      background-image: url(../images/wallpaper.jpg);
      background-size:cover ;
      backdrop-filter: blur(1.5px);
    }

    h2 {
      color: white;
    }

input[type=password], input[type=email]  {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  label {
    display: inline;
    font-size: 1.4rem;
    font-weight: 700;
    color: #172A3A;
  }
  
  input[type=submit] {
    background-color: #172A3A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }
  
  input[type=submit]:hover {
    background-color: #0e1a24;
  }
  
  .container {
    border-radius: 5px;
    background-color: #74B3CE;
    padding: 20px;
  }


  

