input[type=text], select, textarea,input[type=password],input[type=email],input[type=tel] {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }

  textarea {
    resize: none;
  }

  h2, .text {
      margin-bottom: 20px;
  }

  .container form {
    margin: auto;
    width: 99%;
  }

  label {
    display:block;
    margin-right: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #172A3A;
  }
  
  input[type=submit] {
    background-color: #172A3A;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  input[type=submit]:hover {
    background-color: #0e1a24;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #74B3CE;
    padding: 20px;
    margin-top: 2%;
  }
  
    @media (min-width: 600px) {
      label {
          display: inline-block;
          width: 20%;
          
      }
  
      input[type=text], select, textarea,input[type=password],input[type=email],input[type=tel] {
          width: 70%;
         
      }
  

      input {
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      .container {
          align-items: center;
          margin: auto;
          width: 50%;
          margin-top: 5% ;
          margin-bottom: 5% ;
      }

      .text{
        display: flex;
        justify-content: center;
        align-items: center;
        
      }

    }
   
   