body{
    background-image: url(../images/wallpaper.jpg);
    background-size:cover ;
    backdrop-filter: blur(1.5px);
}

#shop{
     row-gap: 10%; 
     display: grid;
     justify-content: center;
     margin: 3%  0 ;
}

#product-image {
    width: 8%;
}

.information{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.display{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#quantity {
    margin-right: 35px;
    display: flex;
}

#quantity > form > button {
    border: none;
    width: 20px;
    cursor: pointer;
    border-radius: 5px;
}

section {
    background-color: #74B3CE;
    padding: 8px;
    border-radius: 15px;
}

#btn-links{
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.btn {
    background-color: #004346;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #012a2c;
}

h2 {
    color: #09BC8A;
}

