* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
    color: #09BC8A;
    font-size: 1.2rem;
}

.links:hover{
    background-color: #333;
    border: #333 solid ;
    border-radius: 30px;
    padding: 2px;
    color: white;
}

header {
    background-color: #172A3A;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header nav{
    flex-basis: 75%;
}


header nav #menu-items1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 20%;
    
}

header nav #menu-items2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    
}

header nav #menu-items2 .item-hf {
    flex-basis: 24%;
}

header nav #menu-items2 #acce {
    flex-basis: 67%;
}

header nav #menu-items1 form #search-bar {
   display: flex;
}

input[type=searchbox] {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #09BC8A;
    border-radius: 4px;
    font-size: 16px;
    transition: width 0.4s cubic-bezier(0.77, 0.01, 0.25, 1.03);
    background-color: transparent;
    color: #09BC8A;
}

input[type = searchbox]:focus {
     width:100%
}

footer {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #172A3A;
    padding: 45px;
    border-radius: 20px 20px 0 0;
    flex-wrap: wrap;
   
}


@media (max-width:700px) {
    header nav #menu-items1,header nav #menu-items2 {
        display: block;
        position: static;
        margin: 2% 0 2% 5%;
        width:40%;
    }

   #logo-pic{
    margin: auto;
    width: 33%;
   }

   header nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
   }
}





 


